<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507301477978-npjkgp9glm7k49lklun3qaraqufunsi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507301477978-npjkgp9glm7k49lklun3qaraqufunsi0</string>
	<key>API_KEY</key>
	<string>AIzaSyAjLWGqbLSJyjttZyCAjRuGBcGH6aSSoas</string>
	<key>GCM_SENDER_ID</key>
	<string>507301477978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unimatch</string>
	<key>PROJECT_ID</key>
	<string>unimatch-63d64</string>
	<key>STORAGE_BUCKET</key>
	<string>unimatch-63d64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507301477978:ios:470c8321e4ac18a150a263</string>
</dict>
</plist>